body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.new-nav{
    background: #F30000;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
.new-nav-blue{
    background: #0061A3;
    border-radius: 8px
}
.li-nav{
    color: white !important;
}
.li-item{
    border-right:1px solid white
}

.small-font{
    font-size: 12px;
}
.small-font-p{
    font-size: 13px;
}
.card-bg-blue{
    background: #0061A3;
}
.yellow-button{
    background: #F7D300;
    padding: 6px;
    width: 110px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.yellow-button-full{
    background: #F7D300;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.red-bg{
    background: #F30000;
    color: white;
}
